html, body{
  width: 100%;
  height: 100%;
  background:rgb(50,50,50);
  color: white;
}

img{
  max-width: 100%;
  height: auto;
}

.container, .row{
  height: 100%;
  margin-top: 0px;
}

.box {
   display: table;
   width: 100%;
   height: 100%;
}
.va {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

#big-video-wrap{
  opacity: 0.25;
}